/*HEADER*/
*{
    font-family:"Roboto", sans-serif;
}

header {
    background-color: rgb(18, 86, 135);
    background: linear-gradient(rgb(18, 86, 135), rgba(18, 86, 135), rgba(18, 86, 135), rgba(18, 86, 135, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

body {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 46, 72);
    overflow-x: hidden;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadre{
    font-size: x-large;
    margin: 50px;
    background-color: rgb(217, 217, 217);
    opacity: 0.75;
    padding: 10px 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.cadre {
    font-size: x-large;
    margin: 50px;
    background-color: rgb(217, 217, 217);
    opacity: 0.75;
    padding: 10px 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    border: 1px solid #cccccc;
    text-align: center;
}

.compte .cadre{
    padding: 30px 200px;
}

.cadre input{
    width: 100%; /* Remplir toute la largeur disponible */
    padding: 10px; /* Espacement intérieur */
    margin-bottom: 10px; /* Espacement entre les éléments */
    box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur */
}

.cadre label {
    display: block;
    text-align: left;
}


#jouer {
    margin: 0 auto;
    border-radius: 10px;
    font-size:x-large;
    background-color: rgb(255, 184, 0); /* Couleur de fond */
    padding: 9px 30px; /* Ajoutez un peu de rembourrage pour l'espace autour du texte */
}


#jouer:hover {
    font-size:x-large;
    background-color: rgb(234, 148, 0); /* Couleur de fond */
    padding: 9px 30px; /* Ajoutez un peu de rembourrage pour l'espace autour du texte */
}

footer {
    position: inherit;
    bottom: auto;
    background-color: rgb(18, 86, 135);
    background: linear-gradient(rgb(18, 86, 135, 0), rgb(7,34,54), rgba(7,34,54), rgba(7,34,54));
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compte footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    background-color: #755484;
    padding: 10px;
    border-radius: 25px;
    color: white;
    border: 0;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(117, 84, 132, 0.8); /* Changement de couleur au survol */
}
h1{
    margin: 0.67em 4vw;
}